<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
  </head>
  <body>
    <div class="container mt-5">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Your have been logged in successfully.</p>
        <hr>
        <p class="mb-0">Thank you for using our service.</p>
      </div>
      <a href = '/' class="btn btn-primary" >Back to Signin</a>
    </div>
  </body>
</html>
